<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/works.css">
    <title>Document</title>
</head>
<body>
    
    <h1>Catch Me If You Can</h1>

    <img src="/images/catchme.png">
    <article>

In 1963, teenager Frank Abagnale lives in New Rochelle, New York with his father Frank Abagnale Sr. and his French mother Paula. When Frank Sr. encounters tax problems with the IRS, the family is forced to move from their large home to a small apartment. Meanwhile, Frank transfers to public school and gets into trouble when he poses as a substitute French teacher on his first day there.

Shortly thereafter, Frank discovers that his mother is having an affair with his father's friend Jack Barnes. When his parents divorce, Frank runs away. Needing money, he turns to confidence scams to survive and his cons grow bolder. He impersonates an airline pilot and forges Pan Am payroll checks. Soon, his forgeries are worth millions of dollars.

News of the crimes reach the FBI and agent Carl Hanratty begins tracking Frank. Carl finds Frank at a hotel, but Frank cons Carl into believing he is Secret Service agent Barry Allen. He escapes before Carl realizes that he was fooled.

Frank begins to impersonate a doctor. As Dr. Frank Conners, he falls in love with Brenda, a naive young hospital worker. Frank asks Brenda's attorney father for permission to marry her and also wants his help with arranging to take the Louisiana State Bar exam. Frank takes the exam and passes. Carl tracks Frank to his and Brenda's engagement party, but Frank escapes through a bedroom window. Before leaving the party, Frank asks Brenda to meet him at the Miami airport two days later. At the airport, Frank sees Brenda, but also spots plainclothes agents and realizes she has given him up. Frank leaves Brenda and drives away.

Frank then re-assumes his identity as a Pan Am pilot and stages a false recruiting drive for stewardesses at a local college. He recruits eight women as stewardesses, conceals himself from Carl and the other agents walking through the Miami airport with the stewardesses, and escapes on a flight to Madrid, Spain.

In 1967, Carl tracks down Frank in his mother's hometown of Montrichard, France. Frank is incarcerated in a French prison in Marseille where he almost dies due to its poor conditions. Carl takes Frank on a flight back to the United States. As they make their approach, Carl informs Frank that his father has died. Grief-stricken, Frank escapes from the plane and reaches the house of his now re-married mother who has a daughter. Frank surrenders to Carl and spends 12 years in a maximum-security prison.

Carl occasionally visits Frank. During one visit, Carl shows him a fraud check from a case he is working on. Frank immediately figures out that the bank teller was involved in the fraud. Impressed, Carl convinces the FBI to allow Frank to serve the remainder of his sentence working for the FBI bank fraud unit. Frank agrees but soon grows restless of the tedious office work. One weekend, he prepares to fly as an airline pilot again and is intercepted by Carl, who allows him to carry on his act, assuring Frank that no one is chasing him.

As Frank returns to work and discusses another fraud case with Carl, the post-script indicates that Frank has lived for 26 years in the Midwest with his wife, with whom he has had three sons, remains friends with Carl, and has built a successful living as one of the world's leading experts on bank fraud and forgery.
</article>

</body>
</html>